.sectionBlue {
  button {
    background-color: #FFF;
  }
}
button {
  border: 1px solid #b6c6ce;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 0#b6c6ce;
  color: $color-title;
  margin: 4px;
  outline: 0;
  padding: 12px 20px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;


  &:active {
    box-shadow: 0 2px 0 #b6c6ce;
    transform: translateY(3px);
  }
}
label.sign-in {
  display:block;
  text-align: center;
  padding: 6px 12px;
  font-size: 1.5rem;
  background-color: rgb(42, 159, 218);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 400;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;

  &:active{
    box-shadow: 0 2px 0 #b6c6ce;
    transform: translateY(3px);
  }
  &:hover {
    background-color:  #f39b30;

  }
}
