.sectionBlue {
  .button {
    background-color: $color-light;
  }
}
.button {
  border: 1px solid #b6c6ce;
  font-size: 17px;
  max-width: 132px;
  position: absolute;
  right: 15px;
  bottom: 60px;
  background: #ffff;
  border-radius: 4px;
  box-shadow: 0 5px 0#b6c6ce;
  color: $color-title;

  margin-top: 14px;
  outline: 0;
  padding: 12px 20px;
  transition: all 0.1s linear;
  @include media-surface {
    margin-left: 20%;
  }
  @include media-mobilesmall {
    max-width: 120px;
    margin-left: 5px;
  }
  &:active {
    box-shadow: 0 2px 0 #b6c6ce;
    transform: translateY(3px);
  }


}
.button:hover {


  animation-name: changeColorGreen;
  animation-iteration-count: infinite;
  animation-duration:1s ;

  }
  @keyframes changeColorGreen {
  0% {
  background-color: $color-light;
  }
  50% {
  background-color:  #b6c6ce;
  }
  100% {
  background-color: $color-light;
  }
  }