// стили для кнопок
.button{
    margin-left: 40%;
    max-width: 198px;
    height: 41px;
background-color: $color-light;
border: 1px solid $color-title;
    color: $color-title;
    font-size: 17px;
   margin-top: 98px;
    @extend %transition;
    &:hover{
        background-color: $color-section;
        transform: scale(1.02)
    }
    @include media-surface{
        margin-left: 20%;
    }
    @include media-mobilesmall{
        max-width: 120px;
        margin-left: 5px;
    }

}
.sectionBlue{
    &_button{
        background-color: $color-section;
    }
}