.modal {

    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    &_content {
        border-radius:10px ;
        background-color: #ffffff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid rgb(165, 161, 161);
        width: 500px;
        z-index: 9999;
        font-size: 1.7rem;
        box-shadow: $shadow;
        //height: 400px;
        overflow-y: auto;
        text-align: left;
        color: $color-title;
        @extend %transitionAnime;

          transform: scale(1);

        span {
            color: rgb(26, 124, 63);
        }
        @include media-tablet {
            margin-top: 120px;
            width: 400px;
		   // height: 500px;
		   font-size: 1.4rem;
        }
        @include media-surface {
            font-size: 1.2rem;
            width: 300px;
		   // height: 500px;

        }
        .close_modal_window {
            color: rgb(235, 20, 20);
            cursor: pointer;
            font-weight: bold;
            font-style: italic;
            font-size: 30px;
        }
    }
    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;


    }
    &_title {
        font-size: 25px;
        font-weight: bold;
color: $color-title;

    }
}


// One more modal script (no JS, just CSS)
$base-duration: 600ms;

// Colors
$color-1: #2c3e50;
$color-2: #2a9fda;
$color-3: #2ecc71;
$color-4: #e74c3c;


*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}

label.close {
	cursor: pointer;
}

.modal-css-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
	visibility: hidden;
	transition: background-color $base-duration/2 linear;
}

.modal-container {

    position: fixed;
    top: 50vh;
    left: 40vw;
    width: 80vw;
    height: auto;
    margin-top: -25vh;
    margin-left: -30vw;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 50px rgb(0 0 0 / 50%);
    transform: scale(0);
    transition: transform 300ms ease;
    visibility: hidden;
	z-index: 20;

	@include media-laptop {
		top: 40%;
	}

	@include media-tablet {
		top: 40%;
	}
	@include media-surface {
		top: 35%;
	}
	@include media-mobile {
		top: 30%;
	}
	@include media-mobilesmall {
		top: 30%;
		min-width: 220px;
	}

	.close {
		position: relative;
		text-align: center;
		float: right;
		transition: transform $base-duration ease;
		z-index: 100;
		line-height: 0.5rem;

		&:hover {
			fill: #2ecc71;
			transform: rotate(540deg);
		}

	}


		h2 {
			margin: 0 0 2rem;
			padding: 0;
			font-size: 2.8rem;
			position: relative;
			display: block;

/* 			@include media-laptop {
				top: 40%;
			} */
			@include media-tablet {
				font-size: 2rem;
				margin: 1em;
			}
			@include media-surface {
				top: 35%;
			}
			@include media-mobile {
				top: 35%;
			}
			@include media-mobilesmall {
				top: 30%;
				min-width: 220px;
			}
		}

	}
	h2 {
			margin: 0 0 2rem;
			padding: 0;
			font-size: 2.8rem;
			position: relative;
			display: block;

			@include media-laptop {
				font-size: 2.5rem;
				margin: 0 0 0 2rem;
			}
			@include media-tablet {
				font-size: 2.4rem;
			}
			@include media-surface {
				font-size: 2.3rem;
				margin: 0 0 0 1.8rem;
			}
			@include media-mobile {
				font-size: 2.2rem;
				margin: 0 0 0 1.7rem;
			}
			@include media-mobilesmall {
				font-size: 2rem;
				margin: 0 0 0 1.5rem;
			}
			span {
				color: $color-4;
			}
		}

		h3 {
			margin: 0 0 1.5rem;
			padding: 0;
			font-size: 2rem;
			position: relative;
			display: block;

/* 			@include media-laptop {
				top: 40%;
			} */
			@include media-tablet {
				font-size: 1.8rem;
				margin: 0 0 1rem;
			}
			@include media-surface {
				font-size: 1.8rem;
				margin: 0 0 0.8rem;
			}
			@include media-mobile {
				font-size: 1.6rem;
			}
			@include media-mobilesmall {
				font-size: 1.5rem;
			}
			span {
				color: $color-2;
			}
		}


	.modal-content-wrapper {
		position: relative;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 1.75;
		display: flex;
    	justify-content: center;
    	align-items: center;

		p {
			margin-bottom: 5px;
		}
	}

	.modal-footer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		margin: 0;
		padding: 10px 0 0;

		.button {
			position: relative;
			padding: 10px 30px;
			border-radius: 3px;
			font-size: 14px;
			font-weight: 400;
			color: white;
			text-transform: uppercase;
			overflow: hidden;
			cursor: pointer;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background-color: rgba(white,0.2);
				transition: width 250ms ease;
				z-index: 0;
			}
			&:disabled {

				&:hover {

					&:before {
						width: 0;
					}
				}
			}
			&:hover {

				&:before {
					width: 100%;
				}
			}

			&.success {
				margin-right: 5px;
				background-color: $color-3;
				cursor:pointer;
			}
			&.success:disabled {
				margin-right: 5px;
				background-color: gray;
				cursor:pointer;
			}


			&.beware {
				background-color: $color-4;
			}
			&.beware:disabled {
				background-color: gray;
			}
		}
	}


#modal-css {
	display: none;

	&:checked ~ .modal-css-bg {
		visibility: visible;
		background-color: black;
		opacity: 0.7;
		transition: background-color $base-duration/2 linear;
	}

	&:checked ~ .modal-container {
		visibility: visible;
		transform: scale(1.0);
		transition: transform $base-duration/2 ease;
		z-index: 111;
	}
}

input.welcome-input[type=text] {
	width: 50%;
  }