
.slider-track{
transition: .2s;
//background-color: red;
    }
.map {
    margin-top:20px;
    & > button {
      all: unset;
      background:#b6c6ce;
      cursor: pointer;
      margin: 0 7px;
      position: relative;
      user-select: none;
      @include circle(10px);

      &.active {
        &:after {
          background: $color-light ;
          content: "";
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          @include circle(0.5em);
        }
      }
    }
  }


::-webkit-scrollbar {
  width: 7px;
  height: 15px;

}


::-webkit-scrollbar-track {
  background:$color-section ;
}


::-webkit-scrollbar-thumb {
  background:#b6c6ce ;
}


// ::-webkit-scrollbar-thumb:hover {
//     background:$color-light;
//   }