/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
/* canvas, */
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.navigation__link::after, .navigation__link {
  transition: all 0.3s ease-out;
}

.topic-card, .section-image, .hello-text, .modal_content {
  transition: all 0.8s ease 0s;
}

.img5, .img4, .img3, .img2, .img1 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 245px;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana, sans-serif;
  color: #333333;
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;
  color: #0F119E;
}

h3 {
  font-size: 2rem;
}

.logo_img {
  width: 100px;
  height: 100px;
}
@media (max-width: 414px) {
  .logo_img > img {
    width: 60px;
  }
}

.sectionBlue .button {
  background-color: #ffffff;
}

.button {
  border: 1px solid #b6c6ce;
  font-size: 17px;
  max-width: 132px;
  position: absolute;
  right: 15px;
  bottom: 60px;
  background: #ffff;
  border-radius: 4px;
  box-shadow: 0 5px 0 #b6c6ce;
  color: #0F119E;
  margin-top: 14px;
  outline: 0;
  padding: 12px 20px;
  transition: all 0.1s linear;
}
@media (max-width: 526px) {
  .button {
    margin-left: 20%;
  }
}
@media (max-width: 320px) {
  .button {
    max-width: 120px;
    margin-left: 5px;
  }
}
.button:active {
  box-shadow: 0 2px 0 #b6c6ce;
  transform: translateY(3px);
}

.button:hover {
  animation-name: changeColorGreen;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes changeColorGreen {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #b6c6ce;
  }
  100% {
    background-color: #ffffff;
  }
}
.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .burger-menu {
    top: 10px;
    position: absolute;
    left: -100vw;
    width: 100vw;
    background-color: #011D33;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .burger-menu.active {
    left: 0;
    transition: all 0.3s ease 0s;
    overflow-y: auto;
    top: 95px;
  }
}
.burger-menu_link {
  color: white;
  text-decoration: none;
  font-size: 2.8rem;
  padding: 20px 40px;
  border-top: 1px solid #c5dce8;
}
.burger-menu_link:hover {
  cursor: pointer;
  color: #011D33;
  background-color: #c5dce8;
  transition: all 0.5s linear 0.05s;
}

@media (max-width: 768px) {
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    z-index: 3;
  }
}
@media (max-width: 768px) {
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  transform: scale(0);
}

body.lock {
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal_content {
  background-color: #F1F6FA;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #a5a1a1;
  width: 60%;
  z-index: 9999;
  font-size: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 400px;
  overflow-y: auto;
  text-align: left;
  transform: scale(1);
}
.modal_content span {
  color: #1a7c3f;
}
@media (max-width: 768px) {
  .modal_content {
    margin-top: 120px;
    width: 80%;
    height: 500px;
  }
}
@media (max-width: 526px) {
  .modal_content {
    font-size: 1.8rem;
    width: 90%;
    height: 500px;
  }
}
.modal_content .close_modal_window {
  color: #eb1414;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}
.modal_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.modal_title {
  font-size: 25px;
  font-weight: bold;
}

.slider-track {
  transition: 0.2s;
}

.map {
  margin-top: 20px;
}
.map > button {
  all: unset;
  background: #b6c6ce;
  cursor: pointer;
  margin: 0 7px;
  position: relative;
  user-select: none;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}
.map > button.active:after {
  background: #ffffff;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

::-webkit-scrollbar {
  width: 1px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #F1F6FA;
}

::-webkit-scrollbar-thumb {
  background: #b6c6ce;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.welcom-img {
  background-image: url("../assets/welcomeimage-1024x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

.wrapper {
  max-width: 1197px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #011D33;
  position: sticky;
  top: 0;
  z-index: 90;
}
.header-wrapper {
  color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #011D33;
  height: 60px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.wrapper-hello {
  flex-direction: column;
  align-items: center;
}

.imgDavi {
  padding-top: 30px;
}
@media (max-width: 414px) {
  .imgDavi > img {
    width: 60px;
  }
}

.hello-text {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0;
  max-width: 760px;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  padding: 0px 20px 30px 20px;
}
.hello-text.activeAnime {
  transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 768px) {
  .hello-text {
    text-align: justify;
    font-size: 2rem;
  }
}
@media (max-width: 414px) {
  .hello-text {
    font-size: 1.5rem;
    text-align: justify;
  }
}

.sectionBlue {
  background-color: #F1F6FA;
}

.section-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 135px 10px;
  width: 100%;
  align-items: center;
}

.section-image {
  margin: 0px 10px;
  max-width: 150px;
}
.section-image .activeAnime {
  transform: scale(1);
}
.section-image > img {
  width: 150px;
}
@media (max-width: 414px) {
  .section-image > img {
    display: none;
  }
}

.section__img {
  display: flex;
  align-items: center;
  padding: 10px;
}
@media (max-width: 526px) {
  .section__img {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.section__text {
  max-width: 800px;
  width: 100%;
  text-align: left;
  padding: 10px 10px 10px 0px;
  font-size: 1.8rem;
  text-align: left;
}
@media (max-width: 768px) {
  .section__text {
    max-width: 570px;
    text-align: justify;
  }
}
@media (max-width: 526px) {
  .section__text {
    padding-right: 20px;
  }
}
@media (max-width: 414px) {
  .section__text {
    max-width: 345px;
    height: 96px;
    overflow: hidden;
    text-align: justify;
  }
}

.section-title {
  margin: 0;
}
@media (max-width: 414px) {
  .section-title {
    font-size: 2.3rem;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.8rem;
}
.navigation__link {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #99a9b1;
}
.navigation__link::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #99a9b1;
  height: 2px;
  transform: scale(0);
}
.navigation__link:hover::after {
  transform: scale(1);
}

.header__navigation {
  margin-right: 150px;
  width: 700px;
}
@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.active {
  color: #99a9b1;
}

#parent {
  padding: 25px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.divMain {
  z-index: 5;
  background-color: #F1F6FA;
  width: 220px;
  height: 100px;
  font-size: 1.4rem;
  color: #011D33;
  padding: 5px;
  margin: 7px;
  position: relative;
}
.divMain:hover {
  cursor: pointer;
}

.tegs {
  font-weight: bold;
  position: relative;
}

.descriptio {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #ffffff;
  width: 200px;
  height: 100px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #011D33;
  padding: 5px;
  margin: 5px;
}

.invisible {
  visibility: hidden;
}

.visible {
  display: block;
}

.sectionHeading {
  display: block;
  text-decoration: underline;
}

textarea {
  display: block;
  flex: 1 1 auto;
  margin: 0 0 10px 0;
}

.jsPlayground {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: flex-start;
  width: 100%;
}

.sandboxLinks {
  display: block;
  padding: 10px;
  width: 100%;
}

.linksList {
  display: block;
}

.linksList li {
  font-size: 1.7rem;
  padding: 0.2em 0.5em;
  min-width: 60px;
  background-color: green;
  cursor: pointer;
}

.source, .sandbox {
  margin: 5px;
  flex: 1 1 48%;
  min-width: 300px;
  text-align: left;
  height: auto;
}

.iframe {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 3px solid #b6c6ce;
}

input {
  display: none;
}

.source label, .sandbox button {
  padding: 0.2em 0.5em;
  font-size: 2rem;
  border: none;
  display: inline-block;
  outline: 0;
  position: relative;
  right: 0;
  top: 0;
  margin: 0;
  border-radius: unset;
  width: auto;
  max-width: none;
  transition: background-color 0.5s;
}

.sandbox button {
  background: #4caf50;
  color: whitesmoke;
  box-shadow: 0 3px 0 #b6c6ce;
}

.sandbox button:hover {
  background: #4e4e4e;
  cursor: pointer;
  color: whitesmoke;
}

.sandbox button:active {
  font-weight: bold;
  box-shadow: none;
}

.source label:hover {
  background: #4e4e4e;
  cursor: pointer;
  color: whitesmoke;
}

input:checked + label {
  font-weight: bold;
  background: #212121;
  color: whitesmoke;
}

input:active + label:active {
  font-weight: bold;
  box-shadow: 0 2px 0 #b6c6ce;
  transform: translateY(3px);
}

.flex {
  display: flex;
  background: #9ba5b3;
  padding: 5px;
  flex-wrap: wrap;
}

#htmlEditor:not(:checked) ~ #htmlarea + div, #cssEditor:not(:checked) ~ #cssarea + div, #jsEditor:not(:checked) ~ #jsarea + div {
  display: none;
}

#htmlEditor:checked ~ #htmlarea + div, #cssEditor:checked ~ #cssarea + div, #jsEditor:checked ~ #jsarea + div {
  display: block;
}

.slider-container {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  max-width: 100%;
  overflow: auto;
}

.cards-wrapper {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}
@media (max-width: 768px) {
  .cards-wrapper {
    height: 369px;
  }
}
@media (max-width: 414px) {
  .cards-wrapper {
    height: 369px;
  }
}

.topic-card {
  border-radius: 6%;
  width: 370px;
  height: 342px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(0);
}
.topic-card.activeAnime {
  transform: scale(1);
}
.topic-card > a {
  display: inline-block;
}
.topic-card > img {
  max-width: 370px;
  height: 245px;
  margin: auto 0;
}
.topic-card h3 {
  text-align: center;
  color: #0F119E;
}

.img1 {
  background-image: url("/DAVI/src/assets/sect1-1.jpg");
}

.img2 {
  background-image: url("/DAVI/src/assets/sec1-2.png");
}

.img3 {
  background-image: url("/DAVI/src/assets/sec1-3.jpg");
}

.img4 {
  background-image: url("/DAVI/src/assets/sec1-2.png");
}

.img5 {
  background-image: url(/DAVI/src/assets/sect1-1.jpg);
}

/*# sourceMappingURL=style.css.map */
