@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import "https://fonts.googleapis.com/css?family=Do+Hyeon";
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.navigation__link {
  transition: all 0.3s ease-out;
}

.topic-card, .section-image, .hello-text, .modal_content {
  transition: all 0.8s ease 0s;
}

.img5, .img4, .img3, .img2, .img1, .topic-card > img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 200px;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana, sans-serif;
  color: #333333;
  overflow-x: hidden;
}

h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #011D33;
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  padding-bottom: 30px;
  padding-top: 10px;
}

.loading {
  display: flex;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #7ef9ff;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #89cff0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #4682b4;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #0f52ba;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #000080;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #011d33;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.logo_img {
  width: 80px;
  height: 80px;
  margin: 0 0 0 28px;
}

.sectionBlue button {
  background-color: #FFF;
}

button {
  border: 1px solid #b6c6ce;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 0 #b6c6ce;
  color: #011D33;
  margin: 4px;
  outline: 0;
  padding: 12px 20px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
button:active {
  box-shadow: 0 2px 0 #b6c6ce;
  transform: translateY(3px);
}

label.sign-in {
  display: block;
  text-align: center;
  padding: 6px 12px;
  font-size: 1.5rem;
  background-color: #2a9fda;
  color: white;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 400;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
label.sign-in:active {
  box-shadow: 0 2px 0 #b6c6ce;
  transform: translateY(3px);
}
label.sign-in:hover {
  background-color: #f39b30;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  cursor: pointer;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}
.tag_selected {
  background-color: #F39B30;
  color: #F2F2F6;
}
.tag_bordered {
  border: 1px solid #D7D7D7;
}
.tag_colored {
  background-color: #F5F5F5;
}
@media (max-width: 768px) {
  .tag {
    margin-bottom: 5px;
  }
}

/* MENU-MOBILE VERSION */
.mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu span {
  display: block;
  height: 3px;
  background-color: #2a9fda;
  margin: 9px 0 0;
  position: relative;
  z-index: 4;
  transition: background-color 0.4s, linear 0.23s;
}

.btn-menu span.first {
  margin-top: 0;
}

.btn-menu {
  padding: 0;
  position: absolute;
  top: 26px;
  right: 25px;
  cursor: pointer;
  transition: right 0.23s;
  z-index: 3;
  width: 32px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu:hover span {
  background-color: #f39b30;
}

.hidden-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  top: 80px;
  right: 0px;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  clear: both;
  background-color: #011d33;
}

.hidden-menu ul {
  list-style: none;
  margin: 0px;
  clear: both;
  text-align: center;
  padding-inline-start: 0px;
}

.hidden-menu li {
  padding: 0;
}

.hidden-menu li a {
  display: block;
  font-size: 2rem;
  color: #F2F2F6;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 5px;
  padding: 8px;
  border-bottom: 1px solid rgba(42, 159, 218, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hidden-menu li.active {
  display: block;
  font-size: 2.2rem;
  color: #2a9fda;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 5px;
  padding: 8px;
  border-bottom: 1px solid rgba(247, 172, 12, 0.17);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hidden-menu li:last-child a {
  border-bottom: none;
}

.hidden-menu li span:hover {
  border-left: 1px solid red;
}

.hidden-menu li a:hover {
  color: #2a9fda;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 25px;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
  display: block;
  padding: 0 10px 10px 20px;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}

.hidden-menu-ticker ~ .btn-menu span.first {
  top: 0px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  transform: rotate(-135deg);
  top: 12px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker ~ .btn-menu span.third {
  top: 0px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  transform: rotate(135deg);
  top: -12px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal_content {
  border-radius: 10px;
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #a5a1a1;
  width: 60%;
  z-index: 9999;
  font-size: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 400px;
  overflow-y: auto;
  text-align: left;
  color: #011D33;
  transform: scale(1);
}
.modal_content span {
  color: #1a7c3f;
}
@media (max-width: 768px) {
  .modal_content {
    margin-top: 120px;
    width: 80%;
    height: 500px;
  }
}
@media (max-width: 526px) {
  .modal_content {
    font-size: 1.8rem;
    width: 90%;
    height: 500px;
  }
}
.modal_content .close_modal_window {
  color: #eb1414;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}
.modal_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.modal_title {
  font-size: 25px;
  font-weight: bold;
  color: #011D33;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

label.close {
  cursor: pointer;
}

.modal-css-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: background-color 300ms linear;
}

.modal-container {
  position: fixed;
  top: 50vh;
  left: 40vw;
  width: 80vw;
  height: auto;
  margin-top: -25vh;
  margin-left: -30vw;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 300ms ease;
  visibility: hidden;
  z-index: 20;
}
@media (max-width: 1197px) {
  .modal-container {
    top: 40%;
  }
}
@media (max-width: 768px) {
  .modal-container {
    top: 40%;
  }
}
@media (max-width: 526px) {
  .modal-container {
    top: 35%;
  }
}
@media (max-width: 414px) {
  .modal-container {
    top: 30%;
  }
}
@media (max-width: 320px) {
  .modal-container {
    top: 30%;
    min-width: 220px;
  }
}
.modal-container .close {
  position: relative;
  text-align: center;
  float: right;
  transition: transform 600ms ease;
  z-index: 100;
  line-height: 0.5rem;
}
.modal-container .close:hover {
  fill: #2ecc71;
  transform: rotate(540deg);
}
.modal-container h2 {
  margin: 0 0 2rem;
  padding: 0;
  font-size: 2.8rem;
  position: relative;
  display: block;
  /* 			@include media-laptop {
  				top: 40%;
  			} */
}
@media (max-width: 768px) {
  .modal-container h2 {
    font-size: 2rem;
    margin: 1em;
  }
}
@media (max-width: 526px) {
  .modal-container h2 {
    top: 35%;
  }
}
@media (max-width: 414px) {
  .modal-container h2 {
    top: 35%;
  }
}
@media (max-width: 320px) {
  .modal-container h2 {
    top: 30%;
    min-width: 220px;
  }
}

h2 {
  margin: 0 0 2rem;
  padding: 0;
  font-size: 2.8rem;
  position: relative;
  display: block;
}
@media (max-width: 1197px) {
  h2 {
    font-size: 2.5rem;
    margin: 0 0 0 2rem;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 526px) {
  h2 {
    font-size: 2.3rem;
    margin: 0 0 0 1.8rem;
  }
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.2rem;
    margin: 0 0 0 1.7rem;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 2rem;
    margin: 0 0 0 1.5rem;
  }
}
h2 span {
  color: #e74c3c;
}

h3 {
  margin: 0 0 1.5rem;
  padding: 0;
  font-size: 2rem;
  position: relative;
  display: block;
  /* 			@include media-laptop {
  				top: 40%;
  			} */
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.8rem;
    margin: 0 0 1rem;
  }
}
@media (max-width: 526px) {
  h3 {
    font-size: 1.8rem;
    margin: 0 0 0.8rem;
  }
}
@media (max-width: 414px) {
  h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 320px) {
  h3 {
    font-size: 1.5rem;
  }
}

.modal-content-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-wrapper p {
  margin-bottom: 5px;
}

.modal-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
}
.modal-footer .button {
  position: relative;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
.modal-footer .button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 250ms ease;
  z-index: 0;
}
.modal-footer .button:disabled:hover:before {
  width: 0;
}
.modal-footer .button:hover:before {
  width: 100%;
}
.modal-footer .button.success {
  margin-right: 5px;
  background-color: #2ecc71;
  cursor: pointer;
}
.modal-footer .button.success:disabled {
  margin-right: 5px;
  background-color: gray;
  cursor: pointer;
}
.modal-footer .button.beware {
  background-color: #e74c3c;
}
.modal-footer .button.beware:disabled {
  background-color: gray;
}

#modal-css {
  display: none;
}
#modal-css:checked ~ .modal-css-bg {
  visibility: visible;
  background-color: black;
  opacity: 0.7;
  transition: background-color 300ms linear;
}
#modal-css:checked ~ .modal-container {
  visibility: visible;
  transform: scale(1);
  transition: transform 300ms ease;
  z-index: 111;
}

.slider-track {
  transition: 0.2s;
}

.map {
  margin-top: 20px;
}
.map > button {
  all: unset;
  background: #b6c6ce;
  cursor: pointer;
  margin: 0 7px;
  position: relative;
  user-select: none;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}
.map > button.active:after {
  background: #F2F2F6;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

::-webkit-scrollbar {
  width: 7px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #F1F6FA;
}

::-webkit-scrollbar-thumb {
  background: #b6c6ce;
}

.welcom-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1197px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #011D33;
  position: sticky;
  top: 0;
  z-index: 9;
}
.header-wrapper {
  color: #F2F2F6;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  .header-wrapper {
    justify-content: flex-end;
  }
}

.header__logo {
  flex: 0 0 auto;
}

/*
.op {
    opacity: 0.5;
}
*/
.footer {
  background-color: #011D33;
  height: 200px;
}
@media (max-width: 768px) {
  .footer {
    height: 200px;
  }
}
@media (max-width: 414px) {
  .footer {
    height: 300px;
  }
}
.footer .wrapper {
  color: #F2F2F6;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F2F2F6;
  flex-direction: column;
}

.footer-link {
  padding: 0 10px;
  margin: 7px;
}
.footer-link > a {
  color: #F2F2F6;
  text-decoration: none;
}
.footer-link > a:hover {
  color: aqua;
}
@media (max-width: 768px) {
  .footer-link {
    font-size: 1.5rem;
  }
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  width: 500 px;
  font-size: 2rem;
}
@media (max-width: 414px) {
  .footer__navigation {
    flex-direction: column;
  }
}

.icon {
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

.facebook {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

.aboutUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: url(https://videohive.img.customer.envatousercontent.com/files/222322859/Preview_Image_00000.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=46a44846d02338c5002c6c8abba32f69);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.card__collection {
  position: relative;
  display: block;
  padding: 10px;
  font-family: "Do Hyeon", sans-serif;
  overflow: hidden;
}
.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
  background: #c1a776;
}
.card__collection .cards--one:hover:after {
  bottom: -20px;
}
.card__collection .cards--one:hover:before {
  bottom: -10px;
}
.card__collection .cards--one:hover .cards--one__rect {
  left: 45%;
}
.card__collection .cards--one:hover .cards--one__rect--back {
  left: 50%;
}
.card__collection .cards--one::after {
  content: "";
  display: block;
  position: absolute;
  height: 70px;
  transform: rotate(-3deg);
  background: #e660e3;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: -10px;
  z-index: 9;
  transition: all 0.2s ease-in;
  transition-delay: 0.3s;
}
.card__collection .cards--one:before {
  content: "";
  display: block;
  position: absolute;
  height: 80px;
  transform: rotate(-3deg);
  bottom: -90px;
  left: 0;
  background: #fff;
  right: -10px;
  z-index: 5;
  transition: all 0.2s ease-in;
  transition-delay: 0.1s;
}
.card__collection .cards--one__rect {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  background: #0f9bc0;
  width: 126px;
  height: 55px;
  transform: skewY(5deg);
  position: absolute;
  display: block;
  top: 60%;
  left: -45%;
  z-index: 1;
  line-height: 3.3rem;
  text-align: center;
  transition: all 0.2s ease-in;
}
.card__collection .cards--one__rect p {
  transform: skewY(-7deg);
  position: relative;
}
.card__collection .cards--one__rect--back {
  display: block;
  background: rgba(34, 65, 154, 0.8);
  width: 126px;
  height: 55px;
  transform: skewY(7deg);
  position: absolute;
  top: 65%;
  left: -50%;
  transition: all 0.2s ease-in;
  transition-delay: 0.3s;
}
.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
}
.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #57ccfd;
  position: absolute;
  content: "";
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f07306;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.card__collection .cards--three {
  position: relative;
  z-index: 10;
}
.card__collection .cards--three:hover .cards--three__rect-1 {
  left: 10%;
}
.card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
  left: -20%;
}
.card__collection .cards--three:hover .cards--three__rect-2 {
  left: 60%;
}

.intro-ul {
  list-style-type: disc;
  margin-left: 60px;
}

.intro-ol {
  list-style-type: decimal;
  margin-left: 70px;
}

.css-pict-img {
  height: auto;
  width: 100%;
  object-fit: scale-down;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slidecontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #08d0eb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #3d9ac7;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #08d0eb 9;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.picture_1 {
  background-image: url("./assets/future_1.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.picture_2 {
  background-image: url("./assets/future_2.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.picture_3 {
  background-image: url("./assets/future_3.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
.next,
.text {
    font-size: 11px;
  }
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.wrapper-hello {
  flex-direction: column;
  align-items: center;
}

.imgDavi {
  padding-top: 30px;
}
@media (max-width: 414px) {
  .imgDavi > img {
    width: 60px;
  }
}

.hello-text {
  position: absolute;
  color: #ffffff;
  max-width: 760px;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  padding: 20px;
}
.hello-text.activeAnime {
  transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 768px) {
  .hello-text {
    max-width: 560px;
    font-size: 2rem;
  }
}
@media (max-width: 414px) {
  .hello-text {
    font-size: 1.5rem;
    text-align: center;
    left: 0;
  }
}

.hello-text p {
  margin-bottom: 30px;
}

.sectionBlue {
  background-color: #F1F6FA;
}

.section-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 40px 10px;
  width: 100%;
  align-items: center;
}

.descriptionMain {
  font-size: 1.8rem;
  padding: 20px;
}
.descriptionMain p {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
}

.section-image {
  margin: 0px 10px;
  max-width: 150px;
}
.section-image .wrapper-workshop {
  flex-direction: column;
}
.section-image .workshop-text {
  font-size: 1.8rem;
}
@media (max-width: 1197px) {
  .section-image .workshop-text {
    font-size: 1.6rem;
  }
}
.section-image .workshop-tags {
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .section-image .workshop-tags {
    justify-content: center;
  }
}
.section-image .activeAnime {
  transform: scale(1);
}
.section-image > img {
  width: 150px;
}
@media (max-width: 1197px) {
  .section-image > img {
    margin: 15px 0px;
  }
}
@media (max-width: 526px) {
  .section-image > img {
    display: none;
  }
}

.section__img {
  display: flex;
  align-items: center;
  padding: 10px;
}
@media (max-width: 526px) {
  .section__img {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.section__text {
  color: #666060;
  text-align: left;
  padding: 0px 10px 50px 10px;
  font-size: 1.6rem;
  text-align: left;
}
@media (max-width: 768px) {
  .section__text {
    max-width: 570px;
    text-align: justify;
    padding-top: 10px;
  }
}
@media (max-width: 526px) {
  .section__text {
    padding-right: 20px;
  }
}
@media (max-width: 414px) {
  .section__text {
    display: none;
    padding: 0;
    padding-right: 10px;
    height: 220px;
    overflow: auto;
    text-align: justify;
    margin-bottom: 30px;
  }
}

.section-title {
  margin: 0;
}
@media (max-width: 414px) {
  .section-title {
    font-size: 2.3rem;
  }
}

.navigation {
  margin: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.3rem;
}
.navigation__link {
  color: #F2F2F6;
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation__link:hover {
  color: #2a9fda;
}

.header__navigation {
  position: relative;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation span {
  position: absolute;
  display: none;
  bottom: 10px;
  width: 20px;
  height: 2px;
  background-color: #2a9fda;
  transition: left 0.5s ease-in-out, width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.active {
  color: #2a9fda;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-page {
  text-align: center;
  padding-left: 40px;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .nav-page {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.user-area {
  margin-right: 25px;
  flex: 0 0 auto;
  width: 100px;
  text-align: right;
}
@media (max-width: 768px) {
  .user-area {
    margin-right: 70px;
  }
}

.user-area svg {
  height: 46px;
  width: 46px;
  vertical-align: sub;
  margin-top: 6px;
}

.user-area svg:hover {
  cursor: pointer;
}

.user-area svg path {
  fill: #2a9fda;
  transition: fill 0.4s;
}

.user-area svg:hover path {
  fill: #f39b30;
}

.html-tegs {
  background-color: #011D33;
}
.html-tegs h2 {
  margin-left: 13px;
}

.descriptionSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1197px) {
  .descriptionSection {
    flex-direction: column-reverse;
  }
}

.wrapper-html {
  flex-direction: column;
  padding-top: 20px;
}
.wrapper-html h2 {
  color: #F2F2F6;
}

#parent {
  padding: 25px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.divMain {
  z-index: 5;
  background-color: #F1F6FA;
  width: 220px;
  height: 100px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #011D33;
  padding: 35px;
  margin: 7px;
  position: relative;
}
.divMain:hover {
  transform: scale(1.04);
}

.tegs {
  font-weight: bold;
  position: relative;
}

.descriptio {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #6ae2ff;
  width: 200px;
  height: 100px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #011D33;
  padding: 5px;
  margin: 5px;
}

.invisible {
  visibility: hidden;
}

.visible {
  display: block;
}

#search {
  margin-left: 13px;
  max-width: 300px;
  height: 40px;
  font-size: 1.4rem;
}

#list {
  background-color: aliceblue;
}

.tags-text {
  margin-left: 13px;
  color: #F2F2F6;
  font-size: 1.7rem;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 10px;
}
@media (max-width: 526px) {
  .tags-text {
    font-size: 1.5rem;
    text-align: justify;
  }
}
@media (max-width: 414px) {
  .tags-text {
    font-size: 1.3rem;
  }
}

textarea {
  display: block;
  flex: 1 1 auto;
  margin: 0 0 10px 0;
}

.jsPlayground {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: flex-start;
  width: 100%;
}

.sandboxLinks {
  display: block;
  padding: 10px;
  width: 100%;
}

.linksList {
  display: flex;
  flex-wrap: wrap;
}

.linksList li {
  font-size: 1.7rem;
  padding: 0.2em 0.5em;
  min-width: 60px;
  cursor: pointer;
  text-decoration: underline dotted 1px;
}

.linksList li:hover {
  text-decoration: underline 1px;
}

.linksList li:focus {
  background-color: #CCCCCC;
}

.selected {
  color: red;
}

.source, .sandbox {
  margin: 2rem 0.5rem 0.5rem;
  flex: 1 1 48%;
  min-width: 300px;
  text-align: left;
  height: auto;
}

.iframe {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 3px solid #b6c6ce;
}

#jsEditor, #htmlEditor, #cssEditor {
  display: none;
}

.source label, .sandbox button {
  padding: 0.2em 0.5em;
  font-size: 2rem;
  border: none;
  display: inline-block;
  outline: 0;
  position: relative;
  right: 0;
  top: 0;
  margin: 0;
  border-radius: unset;
  width: auto;
  max-width: none;
  transition: background-color 0.5s;
}

.sandbox button {
  background: #4caf50;
  color: whitesmoke;
  box-shadow: 0 3px 0 #b6c6ce;
}

.sandbox button:hover {
  background: #4e4e4e;
  cursor: pointer;
  color: whitesmoke;
}

.sandbox button:active {
  font-weight: bold;
  box-shadow: none;
}

.source label:hover {
  background: #4e4e4e;
  cursor: pointer;
  color: whitesmoke;
}

.source input:checked + label {
  font-weight: bold;
  background: #212121;
  color: whitesmoke;
}

.source input:active + label:active {
  font-weight: bold;
  box-shadow: 0 2px 0 #b6c6ce;
  transform: translateY(3px);
}

.flex {
  display: flex;
  background: #9ba5b3;
  padding: 5px;
  flex-wrap: wrap;
}

#htmlEditor:not(:checked) ~ #htmlarea + div, #cssEditor:not(:checked) ~ #cssarea + div, #jsEditor:not(:checked) ~ #jsarea + div {
  display: none;
}

#htmlEditor:checked ~ #htmlarea + div, #cssEditor:checked ~ #cssarea + div, #jsEditor:checked ~ #jsarea + div {
  display: block;
}

.accordion {
  display: block;
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 0.4em 0.5em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: "+";
  /* Unicode character for "plus" sign (+) */
  font-size: 2rem;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion-active, .accordion:hover {
  background-color: #ccc;
}

.accordion-active:after {
  content: "−";
  /* Unicode character for "minus" sign (-) */
}

.accordion-panel {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.jsSection {
  flex: 1 1 48%;
  margin: 0.5rem;
}

.reference {
  display: block;
  padding: 2rem;
  width: 100%;
  font-size: 1.7rem;
  background-color: white;
  border: #CCC solid 2px;
  border-radius: 4px;
}

.reference ul {
  list-style-type: disc;
  margin: 10px 0 20px;
  padding-left: 4rem;
}

.reference ul li {
  margin-top: 7px;
}

.reference ul li span {
  font-weight: 700;
}

code {
  padding: 2px 4px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-family: Courier, monospace;
}

.slider-container {
  margin-bottom: 25px;
  display: flex;
  grid-gap: 1em;
  max-width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .slider-container {
    overflow: auto;
  }
}
.cards-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
  flex-wrap: wrap;
}
.topic-card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6%;
  width: 315px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(0);
}
.topic-card.activeAnime {
  transform: scale(1);
}
.topic-card > a {
  display: inline-block;
}
.topic-card > img {
  object-fit: fill;
}
.topic-card h3 {
  text-align: center;
  color: #011D33;
  margin: 15px 0px;
}
.topic-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
@media (max-width: 414px) {
  .topic-card {
    max-width: 270px;
  }
}

.img1 {
  background-image: url("./src/assets/DOCTYPE-html-Tag-Declaration.jpg");
}

.img2 {
  background-image: url("./src/assets/You-need-me-in-code-comment.png");
}

.img3 {
  background-image: url("./src/assets/HTML-98acb3f1edd74a36867fcdedcf5fb0e2.jpg");
}

.img4 {
  background-image: url("./src/assets/sec1-2.png");
}

.img5 {
  background-image: url("./src/assets/sect1-1.jpg");
}

.modal-content {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #F1F6FA;
  color: #333333;
  width: 100%;
}
.modal-content .welcome-reset-button {
  font-size: 2rem;
  margin-bottom: 10px;
}
.modal-content h2 {
  color: gray;
  animation-name: visibility;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}
.modal-content #welcome-button {
  opacity: 0;
}
.modal-content .welcome-button {
  margin: 50px;
  animation-name: visibility;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-content .welcome-button :hover {
  cursor: pointer;
  background-color: gray;
  color: white;
  transition: 1s;
}
.modal-content .smash {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
}
.modal-content .smash .welcome-smash1 {
  height: 180px;
  width: 220px;
  background-image: url("./src/assets/smeharik1.jpg");
  background-size: cover;
}
.modal-content .smash .welcome-smash1:hover {
  cursor: pointer;
  border: 5px solid black;
  opacity: 0.8;
}
.modal-content .smash .welcome-smash2 {
  width: 220px;
  height: 180px;
  background-image: url("./src/assets/smeh2.jpg");
  background-size: cover;
}
.modal-content .smash .welcome-smash2:hover {
  cursor: pointer;
  border: 5px solid black;
  opacity: 0.8;
}

@keyframes visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.didYouKnow-card {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.didYouKnow-card .didYouKnow-choice {
  display: flex;
}
.didYouKnow-card .didYouKnow-choice .didYouKnow-button {
  margin: 0px 20px;
  padding: 0px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background-color: #011D33;
}
.didYouKnow-card .didYouKnow-choice .didYouKnow-button:hover {
  background-color: grey;
}
.didYouKnow-card .didYouKnow-choice .didYouKnow-phrase {
  word-wrap: wrap;
}

.game-quiz .quiz-start-button {
  text-align: center;
  margin: 30px;
  padding: 10px;
  border: 1px solid #011D33;
  box-shadow: #b6c6ce 0px 5px 0px;
}
.game-quiz .quiz-start-button:hover {
  cursor: pointer;
  color: grey;
  border: 1px solid grey;
  box-shadow: 0;
}
.game-quiz .quiz-start-score {
  font-size: 1.8rem;
}
.game-quiz .quiz {
  display: none;
  text-align: center;
}
.game-quiz .quiz .quiz-choices {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.game-quiz .quiz .quiz-choices .answer {
  min-width: 80px;
  padding: 20px;
  margin: 0px 30px;
  font-size: 2rem;
  border: 2px solid #011D33;
  box-shadow: 1px 1px 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.game-quiz .quiz .quiz-choices .answer:hover {
  cursor: pointer;
  color: grey;
  border: 2px solid grey;
  box-shadow: 0;
}
.game-quiz .quiz .quiz-timer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.game-quiz .quiz .quiz-timer .quiz-timer-progress {
  margin-left: 20px;
  border: 2px solid #011D33;
  height: 30px;
  width: 150px;
  padding: 0;
}
.game-quiz .quiz .quiz-timer .quiz-timer-progress .quiz-timer-currentProgress {
  padding-bottom: 5px;
  background-color: #2a9fda;
  height: 26px;
  width: 0px;
}

.git-section-text {
  flex-direction: column;
}

.HTML-wrapper {
  flex-direction: column;
  padding: 10px;
}

.Html-inform {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 526px) {
  .Html-inform {
    padding-top: 30px;
  }
}

.introduction-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .introduction-container {
    flex-direction: column;
  }
}

.introduction-links {
  background: whitesmoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 2rem;
  padding-left: 10px;
}
@media (max-width: 414px) {
  .introduction-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px;
  }
}
@media (max-width: 414px) and (max-width: 526px) {
  .introduction-links {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.introduction-links .introduction-item {
  width: 170px;
  margin: 10px;
  color: #011D33;
}
.introduction-links .introduction-item:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .introduction-links .introduction-item {
    width: 120px;
    font-size: 1.5rem;
  }
}
@media (max-width: 414px) {
  .introduction-links .introduction-item {
    width: 56px;
    font-size: 1.2rem;
  }
}

.outPut-html {
  max-width: 945px;
  width: 80vw;
  font-size: 1.8rem;
  padding: 50px;
  display: none;
}
.outPut-html .outPut-html__info {
  width: 100%;
}

#otPutInfo {
  padding: 0px 20px;
  height: 420px;
  font-size: 1.7rem;
  overflow-y: auto;
  text-align: justify;
}
@media (max-width: 414px) {
  #otPutInfo {
    text-align: left;
    font-size: 1.5rem;
    margin-right: 0;
    padding: 5px;
  }
}
#otPutInfo div {
  margin-right: 0;
}

#output-title {
  font-size: 2rem;
  padding-left: 20px;
  margin-bottom: 10px;
}

.p-color {
  font-size: 2rem;
  text-align: justify;
  text-indent: 30px;
}
@media (max-width: 768px) {
  .p-color {
    font-size: 1.6rem;
  }
}

.otPutInfo > p {
  text-align: justify;
  text-indent: 20px;
}

.outPut-html__info > p {
  text-indent: 20px;
  margin: 0;
}

.wrapper-workshop {
  flex-direction: column;
  padding: 14px;
  padding-top: 50px;
}
.wrapper-workshop h2 {
  margin-left: 13px;
  margin-bottom: 10px;
}

.workshop-text {
  font-size: 1.8rem;
  margin-left: 15px;
  margin-bottom: 15px;
}
@media (max-width: 526px) {
  .workshop-text {
    font-size: 1.6rem;
    text-align: justify;
  }
}
@media (max-width: 414px) {
  .workshop-text {
    font-size: 1.5rem;
  }
}

.workshop-tags {
  margin-left: 15px;
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .workshop-tags {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.outPut__workshop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 96px;
  overflow-y: auto;
  height: 440px;
}
@media (max-width: 768px) {
  .outPut__workshop {
    overflow-y: auto;
  }
}
@media (max-width: 526px) {
  .outPut__workshop {
    overflow-y: auto;
  }
}
.outPut__workshop .contentBt {
  position: relative;
  margin: 10px 20px;
}
.outPut__workshop .contentBt_hidden {
  display: none;
}
.outPut__workshop .contentBt .label {
  width: 250px;
  position: relative;
  padding: 10px;
  background: #e1e5e9;
  cursor: pointer;
  color: #36393b;
  font-size: 1.5rem;
}
.outPut__workshop .contentBt .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 2.5 em;
}
@media (max-width: 526px) {
  .outPut__workshop .contentBt .label {
    font-size: 1.4rem;
  }
}
.outPut__workshop .contentBt .contentTask {
  width: 250px;
  position: relative;
  background-color: #ffffff;
  color: black;
  font-size: 1.6rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .outPut__workshop .contentBt .contentTask {
    width: 200px;
  }
}

.contentBt.activTask .contentTask {
  height: 100px;
  padding: 10px;
}

.contentBt.activTask .label::before {
  content: "-";
}

/*# sourceMappingURL=style.css.map */
