$main-header-color: #011D33;
$color-light: #ffffff;
$color-section: #F1F6FA;
$color-title: #0F119E;
$color-text: #333333;
$shadow:0px 4px 4px rgba(0, 0, 0, 0.25);

// $color-additional: #FF7549;
// $color-background: #FFEEE1;
// $color-link: #1943EF;
// $color-tag: #F5F5F5;
// $color-text: #544837;
// $color-heading: #2F281E;
// $color-border: #D7D7D7;
// $color-hovered: #BCD0E5;
// $color-light: #ffffff;
// $color-hamburger: #173A56;
// $color-overlay: rgba(80, 80, 80, 0.4);

// $color-violet: #7752BE;
// $color-yellow: #FAB005;
// $color-red: #F03E3D;
// $color-blue: #4DADF7;

$content-width: 1197px;
$tablet-width: 768px;
$surface-width:526px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;





