$main-header-color: #011D33;
$color-light: #F2F2F6;
$color-section: #F1F6FA;
$color-title: #011D33;
$color-text: #333333;
$shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
$color-tag: #F5F5F5;
$color-border: #D7D7D7;
$color-primary: #F39B30;

$content-width: 1197px;
$tablet-width: 768px;
$surface-width:526px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;





