%transition {
    transition: all .3s ease-out;
}
%img-cards{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 245px;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;

}