.wrapper-git{
    background: $color-section;
    padding-bottom: 20px;
}
.didYouKnow-card{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
h2{
    margin-top: 20px;
}
    .didYouKnow-choice{
        display: flex;

        .didYouKnow-button{
            margin: 0px 20px;
            padding: 0px 20px;
            font-size: 2rem;
            text-decoration: none;
            color: white;
            background-color: $color-title;

            &:hover {
                background-color: grey;
            }
        }

        .didYouKnow-phrase {
            word-wrap: wrap;
            font-weight: 400 ;

        }
    }
}