.sectionHeading {
display:block;
text-decoration: underline;
}
  textarea {
    display: block;
    flex: 1 1 auto;
    margin: 0 0 10px 0;
}
.jsPlayground {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: flex-start;
  width: 100%;
}
.sandboxLinks {
  display: block;
  padding: 10px;
  width: 100%;
}
.linksList {
display:block;

}

.linksList li {
  font-size: 1.7rem;
  padding: 0.2em 0.5em;
  min-width: 60px;
  background-color: green;
  cursor: pointer;
}

.source, .sandbox {
  margin: 5px;
  flex: 1 1 48%;
  min-width: 300px;
  text-align: left;
  height: auto;
}
.iframe {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 3px solid #b6c6ce;

}
input {
    display: none;
  }
.source label, .sandbox button {
    padding: 0.2em 0.5em;
    font-size: 2rem;
    border: none;
    display: inline-block;
    outline: 0;
    position: relative;
    right: 0;
    top: 0;
    margin: 0;
    border-radius: unset;
    width: auto;
    max-width: none;
    transition: background-color .5s;
    
  }
  .sandbox button {
    background: #4caf50;
    color: whitesmoke;
    box-shadow: 0 3px 0 #b6c6ce;
  }
  .sandbox button:hover {
    background: #4e4e4e;
    cursor: pointer;
    color: whitesmoke;
  }
  .sandbox button:active {
    font-weight: bold;
    box-shadow: none;
  }
  .source label:hover {
    background: #4e4e4e;
    cursor: pointer;
    color: whitesmoke;
  }
  
input:checked + label {
    font-weight: bold;
    background: #212121;
    color: whitesmoke;
  }
  input:active + label:active {
    font-weight: bold;
    box-shadow: 0 2px 0 #b6c6ce;
    transform: translateY(3px);
  }
  .flex {
    display: flex;
    background: #9ba5b3;
    padding: 5px;
    flex-wrap: wrap;
  }
  #htmlEditor:not(:checked)~#htmlarea + div,  #cssEditor:not(:checked)~#cssarea + div, #jsEditor:not(:checked)~#jsarea + div{
    display: none;
  } 
  #htmlEditor:checked~#htmlarea + div, #cssEditor:checked~#cssarea + div, #jsEditor:checked~#jsarea + div {
    display: block;
  }