
.navigation {
    // max-width: 700px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.3rem;
    &__link {

        color: $color-light;
        text-decoration: none;
        list-style: none;
        padding: 0 10px;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        cursor: pointer;
        @extend %transition;

        &:hover {
            color:  #2a9fda;
        }
        // &::after {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     background-color:  #99a9b1;
        //     height: 2px;
        //     transform: scale(0);
        //     @extend %transition;
        // }
        // &:hover::after {
        //     transform: scale(1);
        // }

    }
}
.navigation__link-page{
    @extend .navigation__link;
    color: $color-title;
    //border-bottom: 1px solid #2a9fda;
}
.header__navigation {
    position: relative;
     flex: 1 0 auto;
    @include media-tablet {
        display: none;
    }
    span{
        position: absolute;
        display: none;
        bottom: 10px;
        width: 20px;
        height: 2px;
        background-color:  #2a9fda;
        transition: left 0.5s ease-in-out, width 0.5s ease-in-out, background-color 0.5s ease-in-out;
    }
}
.active{
   color:  #2a9fda;

}
.nav{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.nav-page{
// position:sticky;

padding-top: 20px;
padding-bottom: 20px;

    text-align: center;
    padding-left: 40px;
 @include media-tablet{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
    font-size: 1.7rem;
}
.user-area{
    margin-right: 25px;
    flex: 0 0 auto;
    width: 100px;
    text-align: right;
    @include media-tablet {
        margin-right: 70px;
    }
}
.user-area svg {
    height: 46px;
    width: 46px;
    vertical-align: sub;
    margin-top: 6px;
}

.user-area svg:hover {
    cursor: pointer;
}
.user-area svg path {
    fill: #2a9fda;
    transition: fill 0.4s;
}
.user-area svg:hover path {
fill: #f39b30;
}