.sectionBlue {
    background-color: $color-section;
}
.section-card {

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 40px 10px;
    width: 100%;
     //text-align: center;
    // padding: 50px 10px 120px 10px;
    align-items: center;
}
.descriptionMain{
    font-size: 1.8rem;
    padding: 20px;
    p{
        margin-top: 20px;
        text-align: justify;
    }
}
.section-image {
    margin: 0px 10px;.wrapper-workshop {
        flex-direction: column;
    }
    .workshop-text {
        font-size: 1.8rem;
    }
    .workshop-tags {
        margin-bottom: 31px;
        @include media-tablet {
            justify-content: center;
        }
    }



    max-width: 150px;
    @extend %transitionAnime;
     .activeAnime{
      transform: scale(1);
    }
    > img {
        width: 150px;

        @include media-mobile {
            display: none;
        }
    }
}
.section {
    &__img {
        display: flex;
        align-items: center;
        padding: 10px;
        @include media-surface {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    &__text {
       // max-width: 800px;
       // width: 100%;
       color: rgb(102, 96, 96);
        text-align: left;

        padding: 0px 10px 50px 0px;
        font-size: 1.6rem;
        text-align: left;
        @include media-tablet {
            max-width: 570px;
            text-align: justify;
        }
        @include media-surface {
            padding-right: 20px;
        }
        @include media-mobile {
         //   max-width: 345px;
         padding: 0;
         padding-right: 10px;
            height: 220px;
            overflow: auto;
            text-align: justify;
            margin-bottom: 30px;
        }
    }
}
.section-title {
    margin: 0;
    @include media-mobile {
        font-size: 2.3rem;
    }
}

// .section__img {
//     display: flex;
//     align-items: center;
//     padding: 10px;
//     @include media-surface {
//         flex-wrap: wrap;
//         flex-direction: column-reverse;
//     }
// }
// .section__text {
//     max-width: 800px;
//     width: 100%;
//     text-align: left;
//     padding: 10px 10px 10px 0px;
//     font-size: 1.8rem;
//     text-align: left;
//     @include media-tablet {
//         max-width: 570px;
//         text-align: justify;
//     }
//     @include media-surface {
//         padding-right: 20px;
//     }
//     @include media-mobile {
//         max-width: 345px;
//         height: 96px;
//         overflow: hidden;
//         text-align: justify;
//     }
// }
