.slider-container {
  margin-bottom: 25px;
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    //align-items: center;
    @include media-tablet {
     // height: 369px;
     overflow: auto;
    }
    @include media-mobile {
   //   height: 369px;
    }
  }
.cards-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
  flex-wrap: wrap;
  @include media-tablet {
    //  height: 369px;
    //overflow: auto;
  }
  @include media-mobile {
    //  height: 369px;
  }
}
.topic-card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6%;
 width: 320px;

  //height: 342px;
  box-shadow: $shadow;
  margin: 9px;
  box-shadow: $shadow;
  transform: scale(0);
  @extend %transitionAnime;
  &.activeAnime {
    transform: scale(1);
  }
  > a {
    display: inline-block;
  }
  > img {
    object-fit: fill;
    @extend %img-cards;
  }
  h3 {
    text-align: center;
    color: $color-title;
    margin: 15px 0px;
  }
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  @include media-mobile{
    max-width: 270px;
  }
}

.img1 {
  background-image: url("./src/assets/DOCTYPE-html-Tag-Declaration.jpg");
  @extend %img-cards;
}
.img2 {
  background-image: url("./src/assets/You-need-me-in-code-comment.png");
  @extend %img-cards;
}
.img3 {
  background-image: url("./src/assets/HTML-98acb3f1edd74a36867fcdedcf5fb0e2.jpg");
  @extend %img-cards;
}
.img4 {
  background-image: url("./src/assets/sec1-2.png");
  @extend %img-cards;
}
.img5 {
  background-image: url("./src/assets/sect1-1.jpg");
  @extend %img-cards;
}