.welcome-image {
  display: none;
    position: absolute;
    top: 30%;
   left:  40%;
  //  margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: $color-section;
    color: $color-text;
  //  margin: -110px 0 0 -100px;
    .welcome-api {
      display: none;
        font-size: 1.5rem;
    }

    .welcome-reset-button{
      display: none;
        font-size: 2rem;
        margin-bottom: 10px;
    }
}