    .modal-content {
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        background-color: $color-section;
        color: $color-text;
        width:100%;
        .welcome-reset-button{
            font-size: 2rem;
            margin-bottom: 10px;
        }

        h2 {
            color: gray;
            animation-name: visibility;
            animation-duration: 1.8s;
            animation-fill-mode: forwards;
        }
        
        #welcome-button {
            opacity: 0;
        }
        .welcome-button {
            margin: 50px;
            animation-name: visibility;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            box-shadow: $shadow;

            :hover {
                cursor: pointer;
                background-color: gray;
                color: white;
                transition: 1s;
            }

        }

        .welcome-statistic{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div {
                padding: 10px;
            }
            span {
                color: #E74C3C;
            }
        }
    }

    @keyframes visibility {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }