@import "https://fonts.googleapis.com/css?family=Do+Hyeon";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&:before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	&:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}
.clear-fix {
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
.aboutUs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background: url(https://videohive.img.customer.envatousercontent.com/files/222322859/Preview_Image_00000.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=46a44846d02338c5002c6c8abba32f69);
	background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
.card__collection {
	position: relative;
	display: block;
	// background: rgba(10, 10, 10, 0.5);
	padding: 10px;
	font-family: "Do Hyeon", sans-serif;
	overflow: hidden;
	.cards {
		width: 300px;
		height: 400px;
		display: block;
		background-size: cover;
		float: left;
		border-radius: 15px;
		position: relative;
		overflow: hidden;
		background-position: center;
		margin: 10px;
		background: #c1a776;
	}
	.cards--one {
		&:hover {
			&:after {
				bottom: -20px;
			}
			&:before {
				bottom: -10px;
			}
			.cards--one__rect {
				left: 45%;
			}
			.cards--one__rect--back {
				left: 50%;
			}
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			height: 70px;
			transform: rotate(-3deg);
			background: #e660e3;
			position: absolute;
			bottom: -80px;
			left: 0;
			right: -10px;
			z-index: 9;
			transition: all 0.2s ease-in;
			transition-delay: 0.3s;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			height: 80px;
			transform: rotate(-3deg);
			bottom: -90px;
			left: 0;
			background: #fff;
			right: -10px;
			z-index: 5;
			transition: all 0.2s ease-in;
			transition-delay: 0.1s;
		}
	}
	.cards--one__rect {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		background: #0f9bc0;
		width: 126px;
		height: 55px;
		transform: skewY(5deg);
		position: absolute;
		display: block;
		top: 60%;
		left: -45%;
		z-index: 1;
		line-height: 3.3rem;
		text-align: center;
		transition: all 0.2s ease-in;
		p {
			transform: skewY(-7deg);
			position: relative;
		}
	}
	.cards--one__rect--back {
		display: block;
		background: rgba(34, 65, 154, 0.8);
		width: 126px;
		height: 55px;
		transform: skewY(7deg);
		position: absolute;
		top: 65%;
		left: -50%;
		transition: all 0.2s ease-in;
		transition-delay: 0.3s;
	}
	.cards--two {
		position: relative;
		backface-visibility: hidden;
		p {
			position: absolute;
			top: 83%;
			left: -100%;
			text-transform: capitalize;
			color: #fff;
			font-size: 20px;
			z-index: 8;
			transition: all 0.6s ease;
		}
		&:hover {
			p {
				left: 8%;
			}
			img {
				transform: translateY(-15px);
			}
			.cards--two__rect {
				top: 75%;
				&:before {
					transform: translateY(15px);
				}
			}
			li {
				transform: translateY(0);
			}
			.cards--two__tri {
				right: -40%;
				&:before {
					right: -312px;
				}
			}
		}
		img {
			transition: all 0.2s ease;
		}
		ul {
			list-style: none;
			position: absolute;
			bottom: 0;
			left: 10px;
			z-index: 9;
			li {
				display: inline-block;
				font-size: 16px;
				margin: 7px;
				color: #fff;
				transition: all 0.2s ease-in-out;
				transform: translateY(100px);
				&:nth-child(2) {
					transition-delay: 0.2s;
				}
				&:nth-child(3) {
					transition-delay: 0.3s;
				}
				&:nth-child(4) {
					transition-delay: 0.4s;
				}
			}
		}
	}
	.cards--two__tri {
		border-top: 220px solid transparent;
		border-bottom: 190px solid transparent;
		border-right: 288px solid #fff;
		opacity: 0.9;
		position: absolute;
		display: block;
		top: 0;
		right: -100%;
		transition: all 0.3s ease-in-out;
		&:before {
			border-top: 220px solid transparent;
			border-bottom: 190px solid transparent;
			border-right: 288px solid #57ccfd;
			position: absolute;
			content: "";
			display: block;
			top: -220px;
			right: -612px;
			transition: all 0.3s ease-in-out;
			transition-delay: 0.2s;
		}
	}
	.cards--two__rect {
		width: 750px;
		height: 200px;
		background: #fff;
		display: block;
		position: absolute;
		top: 175%;
		left: -78%;
		transform: rotate(30deg);
		z-index: 5;
		opacity: 0.9;
		transition: all 0.3s ease-in-out;
		&:before {
			content: "";
			display: block;
			width: 100%;
			position: relative;
			height: 100%;
			background: #f07306;
			transform: translateY(200px);
			z-index: 2;
			transition: all 0.3s ease-in-out;
			transition-delay: 0.1s;
		}
	}
	.cards--three {
		position: relative;
		z-index: 10;
		&:hover {
			.cards--three__rect-1 {
				left: 10%;
				.shadow-1 {
					left: -20%;
				}
			}
			.cards--three__rect-2 {
				left: 60%;
			}
		}
	}
}
