.intro-ul{
  list-style-type: disc;
  margin-left: 60px;
}
.intro-ol{
    list-style-type: decimal;
    margin-left: 70px;
}
.css-pict{

}
.css-pict-img{
  height: auto;
 width: 100%;
 object-fit: scale-down;
}