 .header{
    background-color: $main-header-color;
    position: sticky;
    top: 0;
    z-index: 9;

    &-wrapper{
        color:$color-light;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1 0 auto;
            @include media-tablet {
                justify-content: flex-end;
            }
        }
 }
 .header__logo {
     flex: 0 0 auto;
 }
//  .header-wrapper{
//  color:$color-light;
//      height: 100px;
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//  }
/*
.op {
    opacity: 0.5;
}
*/