 .header{
    background-color: $main-header-color;
    position: sticky;
    top: 0;
 }
 .header-wrapper{
 color:$color-light;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }